.list-item-container-complete{
    border-style: solid;
    border-width: medium;
    padding: 25px;
    margin: 50px;
    width: 33%;
    background-color: darkgrey;
}

.list-item-container{
    border-style: solid;
    border-width: medium;
    padding: 25px;
    margin: 50px;
    width: 33%;
    background-color:lightgray;
}

.complete-button{
    margin: 10px;
}

.delete-button{
    margin: 10px;
}